---
layout: default
---

<body>

{% assign bios = site.data.bios %}
{% for bio in bios %}
	<h2>{% if bio.url_name %}<a href="{{ bio.url_name }}" target="_blank">{{ bio.name }}</a>
		{% else %} {{ bio.name }}
		{%  endif %}
		{% if bio.project %} //
			{% if bio.url_project %}<a href="{{ bio.url_project }}" target="_blank">{{ bio.project }}</a>
			{% else %} {{ bio.project }}
			{% endif %}
		{% endif %}</h2>
	
	<button class="accordion">
		<img src="{{ site.url }}/images/{{ bio.image_1 }}" /><img src="{{ site.url }}/images/{{ bio.image_2 }}" />
	</button>
	<div class="panel">
	  <p>{{ bio.bio }}</p>
	</div>
	
	<div>
		
	</div>	
	
	<br clear="all">
	
{%  endfor %}

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
	this.classList.toggle("active");
	var panel = this.nextElementSibling;
	if (panel.style.maxHeight){
	  panel.style.maxHeight = null;
	} else {
	  panel.style.maxHeight = panel.scrollHeight + "px";
	} 
  }
}
</script>
</body>

