<!DOCTYPE html>
<html>
  <head >
	<link rel="icon" type="image/x-icon" href="atea.png">
	<title>{{ page.title }}</title>

	<link rel="stylesheet" type="text/css" href="/css/main.css">

  </head>

  <body>
	<nav>
		<ul>
			<li><a href="/">ATEA</a></li>
			<li><a href="/quien_somos">QUIEN SOMOS</a></li>
		</ul>
	</nav>

<div>
	<header>
		<img src="{{ site.url }}/{{page.image}}"/>


		<h1>{{ page.title }}</h1>
		<h3>{{ page.tagline}}</h1>
	</header>
</div>
	
<div class="container">

  {{ content }}

</div>

  <footer>
   <ul>
   <li>Topacio 25, Col. Centro, La Merced, Mexico City, Mexico</li>
   <li><a href="mailto:ateacdmx@gmail.com">email</a></li>
   <li><a href="https://www.facebook.com/ArteTallerEstudioArquitectura/">facebook</a></li>
   </ul>
  </footer>
  </body>

</html>