<!DOCTYPE html>
<html>
  <head>
	<title>{{ page.title }}</title>

	<link rel="stylesheet" type="text/css" href="/css/main.css">

  </head>


  <body>
	<nav>
<ul>
<li><a href="/">ATEA</a></li>
<li><a href="/quien_somos">QUIEN SOMOS</a></li>
</ul>
	</nav>
<div class="container">

  {{ content }}

</div>

  <footer>
   <ul>
   <li>Topacio 25, Col. Centro, la merced, Mexico City, Mexico</li>
   <li><a href="mailto:ateacdmx@gmail.com">email</a></li>
   <li><a href="https://www.facebook.com/ArteTallerEstudioArquitectura/">facebook</a></li>
   </ul>
  </footer>
  </body>

</html>